@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<p> 
    <strong> @Model.ErrorMessage</strong>
</p>
<input name="action" onclick="history.back()" type="submit" value="Volver atras" />