@{
    ViewData["Title"] = "About Us";
}

<h1> Nosotros </h1>
<p><em>Gracias por visitar nuestro sitio!</em></p>
<p>En el corazón de nuestra empresa late la pasión por la gastronomía y el deseo de conectar a las personas a través de experiencias culinarias únicas. Nacimos de la necesidad de crear un espacio donde compartir no solo recetas deliciosas, sino también vivencias en torno a la comida, valoraciones de restaurantes y una comunidad que celebra la diversidad gastronómica.</p>
<p>En un mundo cada vez más globalizado pero con rispideces por el auge de discursos chauvinistas, creemos firmemente que la gastronomía desempeña un papel crucial en la construcción de una sociedad más abierta y cosmopolita. Es más que simplemente alimentarse; es un lenguaje universal que une a personas de diferentes culturas y trasfondos en torno a una mesa.</p>
<p>En Food Connections, no solo encontrarás una plataforma para descubrir nuevas recetas y calificar restaurantes, sino también un espacio donde compartir tus propias experiencias culinarias, aprender de otros y explorar un mundo de sabores. Nos enorgullece ser parte de esta comunidad gastronómica vibrante y te invitamos a unirte a nosotros en esta deliciosa aventura.</p>
<h2><em>Contacto</em></h2>
<p>Podes contactarte con nosotros vía correo electrónico a: <i class="fa fa-envelope"></i> foodConnections@gmail.com</p>

