@{
    ViewData["Title"] = "Pagina principal";
}

<div class="container">
    <div class="text-center">
        <h1>Food Connection</h1>
    </div>

    <div class="content">

        <p>Unite a nuestra comunidad y descubrí un mundo de recetas deliciosas y opiniones sobre los mejores restaurantes.</p>
        <p>Compartí tus propias recetas, califica tus lugares favoritos y sé parte de una red de apasionados por la cocina.</p>

    </div>

    <div class="alert alert-secondary alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <strong>La membresía es pública y gratuita.</strong>
    </div>
</div>
